.list-page-container {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.select-container {
	display: flex;
	width: 370px;
}

.pagination-bttns {
	width: 90%;
	height: 40px;
	list-style: none;
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.pagination-bttns a {
	padding: 10px;
	margin: 8px;
	border-radius: 5px;
	color: black;
	cursor: pointer;
}

.pagination-active a {
	color: black;
	background-color: white;
	border-radius: 5px;
	border: 1px solid black;
}
